
* {
    box-sizing: border-box;
}

div {
    display: block;
}

nav {
    background-color: brown;
    text-align: center;
}



textarea{
    width:80%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
}

#btn-translate{
    background-color:yellow;

}
#output{
    border: 1px solid black;
    height: 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
}